In [1]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import json

In [7]:
datetime(1,1,1)

datetime.datetime(1, 1, 1, 0, 0)

In [2]:
pd.datetime.now()

/home/danil/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  """Entry point for launching an IPython kernel.

datetime.datetime(2020, 9, 18, 22, 41, 14, 479909)

In [17]:
datetime.now()

datetime.datetime(2020, 9, 18, 17, 2, 12, 835746)

In [21]:
datetime.now() - timedelta(days=1)

datetime.datetime(2020, 9, 17, 17, 2, 42, 972858)

In [7]:
import dash_daq as daq

In [2]:
df1 = pd.read_excel('./ActualDataFeb2020.xlsx')

In [19]:
df1.iloc[:,1]

0      309.94
1      315.52
2      308.43
3      320.57
4      320.70
        ...
843    328.01
844    328.26
845    334.60
846    329.48
847    330.67
Name: Gpp, Length: 848, dtype: float64

In [17]:
min((10,df1.shape[1]))

10

In [21]:
for v, i in enumerate(df1.iloc[:,1]):
    print(i)

309.94
315.52
308.43
320.57
320.7
319.28
322.76
316.44
322.76
320.68
318.76
303.63
304.31
305.62
307.21
303.37
302.73
315.66
316.95
316.79
317.31
317.43
315.35
316.8
316.16
316.16
315.91
317.07
315.51
316.42
317.98
318.51
318.51
316.82
318.5
315.79
315.4
314.89
317.48
315.3
314.91
321.92
320.12
320.64
318.2
317.81
319.21
319.86
317.16
316.25
316.76
319.08
320.25
319.99
320.12
319.73
317.64
319.05
317.36
317.88
320.84
318.01
318.27
317.88
315.69
318.02
319.56
315.3
316.59
316.96
314.12
312.45
319.16
315.91
317.06
317.87
317.25
318.41
320.73
315.54
321.08
321.33
316.18
318.5
316.71
319.38
322.3
317.74
317.22
320.44
319.8
321.22
318.64
319.63
322.15
320.06
322.75
322.76
317.88
320.34
320.35
320.35
321.1
324.06
321.33
324.28
323.89
322.33
320.14
322.74
322.75
322.86
324.68
323.68
323.71
320.76
322.05
319.98
322.85
322.6
325.18
323.49
323.48
325.68
324.53
322.75
319.64
322.87
326.25
325.86
323.96
322.74
318.5
319.92
321.87
315.96
319.0
320.57
319.3
314.78
318.17
321.3
316.28
315.48
314.02
321.75
317.59
324.43
320.82
319.15
319.54
320.2
317.63
315.44
319.95
320.48
317.78
318.83
318.83
322.18
320.1
318.3
317.38
317.5
316.63
316.41
316.15
318.86
318.09
311.48
318.84
322.06
318.58
320.02
318.76
318.92
315.59
316.01
318.25
317.4
316.56
321.44
318.93
320.73
317.49
321.98
320.3
321.08
319.14
314.71
317.0
315.93
314.73
311.8
320.08
318.52
314.97
317.72
317.64
319.57
320.47
316.29
315.59
317.77
318.92
319.55
318.37
316.68
315.44
315.7
315.61
316.66
314.76
308.06
311.36
312.31
316.49
317.82
319.62
320.56
319.61
319.09
324.38
324.21
327.75
326.35
324.8
321.87
320.66
323.3
323.05
317.11
325.08
328.48
323.29
329.94
329.23
327.14
322.99
324.28
321.54
324.16
327.52
322.54
324.21
325.0
320.74
325.0
319.7
325.0
322.81
325.27
324.1
325.13
325.52
326.03
326.79
325.74
322.77
320.61
319.97
320.18
320.17
321.46
313.72
319.55
318.64
319.9
320.55
328.16
317.8
321.02
322.57
324.89
326.69
322.69
317.11
322.97
321.15
326.39
322.99
326.74
324.16
325.06
325.57
323.48
321.35
323.97
318.57
318.84
320.79
323.09
325.35
322.76
327.18
324.62
322.95
322.94
319.33
321.11
317.09
325.48
316.18
321.6
321.63
324.35
324.61
325.5
325.24
319.06
325.77
324.47
326.14
324.72
324.86
321.76
320.66
323.04
321.52
325.92
327.85
320.73
318.54
325.66
324.05
326.22
328.41
326.21
322.73
326.23
324.81
328.29
328.41
322.99
327.64
324.67
318.99
326.74
326.6
328.0
325.41
325.15
326.17
325.52
327.72
326.03
322.92
324.72
325.74
325.97
324.43
324.03
322.84
325.68
324.52
323.22
322.71
325.93
325.96
324.17
323.92
323.41
324.43
319.38
325.45
320.4
322.71
322.83
322.74
317.9
320.39
321.18
327.35
331.46
328.33
325.51
326.2
327.37
323.18
325.53
325.8
328.78
328.78
327.61
329.27
327.46
327.85
327.92
330.53
327.94
326.55
326.68
328.88
328.24
326.04
327.07
329.53
331.74
328.89
332.77
329.28
333.64
331.41
333.08
331.66
335.53
332.68
333.92
333.32
334.86
332.03
333.63
335.06
333.12
333.5
333.63
332.21
335.96
333.99
328.31
329.13
327.46
326.96
336.01
336.13
320.23
323.2
319.06
315.7
313.64
318.3
324.89
318.36
321.32
319.91
316.31
320.19
322.4
322.64
321.07
323.01
321.83
321.59
321.19
321.07
320.68
319.65
321.98
320.82
319.78
323.78
322.75
325.59
329.85
328.94
325.31
327.24
329.68
328.38
325.53
323.33
325.78
325.79
321.78
324.49
324.23
326.55
327.46
321.77
323.57
324.73
325.64
326.29
327.07
325.14
326.31
327.5
327.12
325.45
327.01
328.16
330.35
330.61
331.66
338.0
335.88
335.38
336.91
334.51
335.7
333.64
335.83
336.48
336.11
335.98
337.28
339.09
337.16
338.83
338.71
339.09
340.24
338.57
340.5
335.89
335.41
335.17
334.91
332.81
334.08
335.74
337.04
334.32
334.59
335.88
337.05
338.6
339.22
333.28
335.98
335.98
338.69
335.85
340.11
338.05
338.68
335.06
339.57
337.12
337.51
335.96
337.12
336.47
337.63
342.38
337.5
336.98
338.15
339.16
336.45
333.64
335.84
335.84
335.85
337.66
339.23
338.08
337.82
337.28
335.86
337.8
339.22
337.03
334.57
338.2
336.92
338.49
336.17
335.25
334.74
335.65
335.27
338.24
337.07
337.71
337.46
335.91
335.9
335.39
335.77
334.61
338.5
335.78
339.12
333.7
335.81
335.2
334.84
335.36
335.97
334.55
327.68
331.92
332.69
333.58
333.93
335.6
334.57
335.61
337.28
332.37
333.92
333.15
334.83
332.76
331.73
335.86
340.0
336.77
337.28
339.59
337.01
335.97
339.07
335.84
335.85
337.91
338.56
337.4
335.72
339.71
338.42
342.26
335.58
336.1
338.3
335.46
339.72
341.11
340.24
337.4
340.37
342.01
339.98
341.89
341.02
337.91
337.9
340.49
340.88
337.67
335.48
333.8
335.87
332.39
329.55
326.07
330.72
333.17
326.19
328.66
329.7
326.34
328.53
328.78
332.01
327.87
331.49
329.3
328.66
332.54
330.34
334.23
331.64
332.02
333.57
332.42
334.38
331.3
329.11
333.24
332.94
333.57
328.91
333.54
332.5
330.44
331.21
329.53
330.82
329.9
327.84
327.85
330.69
330.16
330.28
332.34
331.42
332.05
332.67
331.88
333.17
336.93
337.58
335.78
336.29
335.35
334.56
337.63
337.28
332.92
332.03
331.24
330.96
333.91
330.16
331.83
330.28
329.77
334.42
336.22
334.42
338.69
336.1
333.91
335.98
335.86
332.68
334.42
333.53
332.87
328.47
328.09
330.42
327.85
330.06
328.1
328.35
331.7
330.67
329.65
328.1
330.3
325.26
329.26
331.86
330.82
327.72
327.85
328.76
325.78
326.43
327.34
326.31
326.32
327.49
325.3
328.14
328.14
329.18
325.95
325.07
327.4
326.89
326.89
327.02
327.92
327.93
328.32
332.19
329.73
331.67
327.67
329.61
329.34
329.85
328.57
331.67
331.02
331.03
332.21
327.69
328.75
327.89
329.32
326.26
326.48
326.79
326.79
326.79
326.79
326.79
326.79
326.67
328.35
328.36
328.51
332.45
333.28
332.06
332.18
333.67
336.11
323.09
325.95
331.38
328.14
325.17
329.43
328.48
330.14
331.42
326.89
330.77
330.35
332.67
329.32
328.04
325.72
327.8
325.47
324.06
325.22
326.37
325.7
324.77
325.67
325.15
326.7
324.89
322.7
323.21
323.08
327.48
326.4
323.91
322.1
325.35
324.49
325.4
326.84
326.52
328.78
331.38
331.29
327.29
326.47
327.91
327.41
326.88
328.05
325.72
328.18
331.54
327.27
324.7
325.37
326.27
325.82
328.41
327.63
329.69
326.59
328.01
328.26
334.6
329.48
330.67

In [1]:
[1]+[2]

[1, 2]

In [23]:
df = pd.read_csv('AutoDataset.csv')

In [24]:
df.columns=[x[1:] for x in df.columns]

In [25]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [26]:
df.shape

(205, 26)

In [30]:
df = df.dropna()

In [31]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115.0,5500.0,18,22,17450.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110.0,5500.0,19,25,17710.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140.0,5500.0,17,20,23875.0
10,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.8,8.8,101.0,5800.0,23,29,16430.0

In [32]:
df.shape

(159, 26)

In [39]:
df.index

Int64Index([  3,   4,   6,   8,  10,  11,  12,  13,  18,  19,
            ...
            195, 196, 197, 198, 199, 200, 201, 202, 203, 204],
           dtype='int64', length=159)

In [ ]:
['wheel-base','engine-size','horsepower']

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 3 to 204
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0    symboling          159 non-null    int64
 1    normalized-losses  159 non-null    float64
 2    make               159 non-null    object
 3    fuel-type          159 non-null    object
 4    aspiration         159 non-null    object
 5    num-of-doors       159 non-null    object
 6    body-style         159 non-null    object
 7    drive-wheels       159 non-null    object
 8    engine-location    159 non-null    object
 9    wheel-base         159 non-null    float64
 10   length             159 non-null    float64
 11   width              159 non-null    float64
 12   height             159 non-null    float64
 13   curb-weight        159 non-null    int64
 14   engine-type        159 non-null    object
 15   num-of-cylinders   159 non-null    object
 16   engine-size        159 non-null    int64
 17   fuel-system        159 non-null    object
 18   bore               159 non-null    float64
 19   stroke             159 non-null    float64
 20   compression-ratio  159 non-null    float64
 21   horsepower         159 non-null    float64
 22   peak-rpm           159 non-null    float64
 23   city-mpg           159 non-null    int64
 24   highway-mpg        159 non-null    int64
 25   price              159 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 33.5+ KB

In [42]:
[dict(
                                    x=(1,2,3),
                                    y=(3,4,5),
                                    text="sd",
                                    mode='Scatter',

                                    name="a"
                                ) for i in range(2)]

[{'x': (1, 2, 3),
  'y': (3, 4, 5),
  'text': 'sd',
  'mode': 'Scatter',
  'name': 'a'},
 {'x': (1, 2, 3),
  'y': (3, 4, 5),
  'text': 'sd',
  'mode': 'Scatter',
  'name': 'a'}]

In [8]:
import pandas as pd

In [6]:
from datetime import datetime

In [11]:
str(datetime.now())

'2020-09-10 11:47:06.410385'

In [68]:
%%time
with open('last_fit_time.txt', 'a') as file:
    file.write(str(datetime.now())+'\n')

CPU times: user 979 µs, sys: 0 ns, total: 979 µs
Wall time: 561 µs

In [2]:
%%time
with open('fit_logs.txt', 'r') as file:
    res1 = file.readline(-1)
    print(res1)

2020-09-10 11:52:04.703404

CPU times: user 484 µs, sys: 0 ns, total: 484 µs
Wall time: 273 µs

In [4]:
%%time
with open('fit_logs.txt', 'r') as file:
    last = file.readlines()[-1]
    print(last)

2020-09-10 11:55:47.845366

CPU times: user 931 µs, sys: 150 µs, total: 1.08 ms
Wall time: 680 µs

In [42]:
pd.to_datetime(res)

Timestamp('2020-09-10 11:52:04.703404')

In [43]:
res

'2020-09-10 11:52:04.703404\n'

In [53]:
last

'2020-09-10 11:53:08.248277\n'

In [ ]:
with open(fname, 'rb') as fh:
    first = next(fh).decode()

    fh.seek(-1024, 2)
    last = fh.readlines()[-1].decode()

In [8]:
import numpy as np
import pandas as pd

In [2]:
_1 = np.array([1,2,3,4])
_2 = np.array([4,5,6,4])
_3 = np.array([7,8,9,4])

In [3]:
p = pd.DataFrame(np.vstack([_1,_2,_3]).T, columns=['predictions', 'lower', 'upper'])
p

   predictions  lower  upper
0            1      4      7
1            2      5      8
2            3      6      9
3            4      4      4

In [1]:
_ = {'a':1, 'b':3}

In [6]:
list(_.keys())

['a', 'b']

In [8]:
np.concatenate([_1,np.zeros((5,), dtype=int)])

array([1, 2, 3, 4, 0, 0, 0, 0, 0])

In [4]:
np.shape(_2)

(4,)

In [ ]:
np.ones_like()

In [12]:
import numpy as np

In [13]:
np.log(1.07)/np.log(1.0005)

135.35112345347574

In [21]:
anom_df = pd.DataFrame(dtype=int)

In [22]:
pd.concat([anom_df, p['predictions']])

     0
0  1.0
1  2.0
2  3.0
3  4.0

In [24]:
d = p['predictions']

In [27]:
d.iloc[-1]

4

In [36]:
pd.DataFrame([np.NaN])

    0
0 NaN

In [11]:
p1 = p[['predictions', 'lower']]
p2 = p[['predictions', 'upper']].iloc[:2,:]

In [13]:
pd.merge(p1,p2, on='predictions', how='left')

   predictions  lower  upper
0            1      4    7.0
1            2      5    8.0
2            3      6    NaN
3            4      4    NaN

In [14]:
p1.merge(p2)

   predictions  lower  upper
0            1      4      7
1            2      5      8

In [16]:
p1.sort_values(by='lower')

   predictions  lower
0            1      4
3            4      4
1            2      5
2            3      6

In [24]:
t = pd.concat([p1, p1], axis=0, ignore_index=True)['lower'].unique()

In [32]:
_ = t.sort()

In [31]:
t[::-1]

array([6, 5, 4])

In [34]:
p1.dropna(how='all', subset=['actual'])

AttributeError: module 'pandas' has no attribute 'dropna'

In [36]:
pd.datetime('2017.05.06')

/home/danil/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  """Entry point for launching an IPython kernel.

TypeError: an integer is required (got type str)

In [1]:
from datetime import datetime

In [3]:
da

NameError: name 'da' is not defined

In [8]:
delta = timedelta(seconds = int('300S'[:-1]))
delta

In [4]:
a = pd.to_datetime(datetime.now())
a

Timestamp('2020-09-22 17:37:19.162997')

In [19]:
a+delta

Timestamp('2020-09-21 13:36:01.719063')

In [5]:
a.timestamp()

1600796239.162997

In [3]:
k = pd.read_csv('Model study/dst_ip_data_test.csv')
k

,flow_key,src_ip_numeric,src_ip,src_port,dst_ip,dst_port,proto,pktTotalCount,octetTotalCount,min_ps,...,b_flowEnd,b_flowDuration,b_min_piat,b_max_piat,b_avg_piat,b_std_dev_piat,flowEndReason,category,application_protocol,web_service
0,9d736d3d3ce9905c0c46186254f5101a,3232266498,192.168.121.2,49361,172.16.255.200,53,17,2,197,71,...,1.559764e+09,0.0,0.0,0.0,0.0,0.0,2,Web,DNS,Microsoft
1,60481cf086ea11766185490fd69dea5b,3232266498,192.168.121.2,52448,172.16.255.200,53,17,2,261,85,...,1.559764e+09,0.0,0.0,0.0,0.0,0.0,2,Network,Unknown,DNS
2,fcdbc14c12585b5c08acc606e0a15f48,3232266498,192.168.121.2,53174,172.16.255.200,53,17,2,172,59,...,1.559764e+09,0.0,0.0,0.0,0.0,0.0,2,Network,Unknown,DNS
3,53ba0e3f4d073d50e7edf8138ad4cafb,3232266498,192.168.121.2,55039,172.16.255.200,53,17,2,306,77,...,1.559764e+09,0.0,0.0,0.0,0.0,0.0,2,Web,DNS,Microsoft
4,8bb9046b7995f578e09529b768375824,3232266498,192.168.121.2,55662,172.16.255.200,53,17,2,197,71,...,1.559764e+09,0.0,0.0,0.0,0.0,0.0,2,Web,DNS,Microsoft
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39426,7c4c2b8eae91da861561852b936dc05c,3232268540,192.168.128.252,52813,172.16.255.200,53,17,2,138,61,...,1.559770e+09,0.0,0.0,0.0,0.0,0.0,2,Web,DNS,Google
39427,9c404294609fa77d0e00133d74fa5970,3232268540,192.168.128.252,62328,172.16.255.200,53,17,2,317,79,...,1.559770e+09,0.0,0.0,0.0,0.0,0.0,2,Web,DNS,Microsoft
39428,6cace9373aa898dcc050144b259a6b89,3232268540,192.168.128.252,50494,172.16.255.200,53,17,2,268,79,...,1.559771e+09,0.0,0.0,0.0,0.0,0.0,2,Web,DNS,Microsoft
39429,b7dd4cfacaa51e075ae6f76cb3c78109,3232268540,192.168.128.252,65161,172.16.255.200,53,17,2,166,75,...,1.559771e+09,0.0,0.0,0.0,0.0,0.0,2,Web,DNS,GoogleServices
39430,3d827474a44a2c34abfd64ab7bf284c3,3232268540,192.168.128.252,57053,172.16.255.200,53,17,2,162,73,...,1.559771e+09,0.0,0.0,0.0,0.0,0.0,2,Web,DNS,GoogleServices

In [10]:
pd.to_datetime('2020/09/21 13:36:01')

Timestamp('2020-09-21 13:36:01')

In [12]:
c1 = k['src_port'] > 49361
c1

0        False
1         True
2         True
3         True
4         True
         ...
39426     True
39427     True
39428     True
39429     True
39430     True
Name: src_port, Length: 39431, dtype: bool

In [16]:
c2 = k['src_port'] < 49500
c2

0         True
1        False
2        False
3        False
4        False
         ...
39426    False
39427    False
39428    False
39429    False
39430    False
Name: src_port, Length: 39431, dtype: bool

In [18]:
(c1 & c2).unique()

array([False,  True])

In [23]:
t = pd.DataFrame(columns=['1','2'])
t

Empty DataFrame
Columns: [1, 2]
Index: []

In [37]:
pd.concat([t, pd.DataFrame([0, 0, 0])], axis=0)

     1    2    0
0  NaN  NaN  0.0
1  NaN  NaN  0.0
2  NaN  NaN  0.0

In [46]:
#a = np.zeros(shape=(1,2), dtype=int)
df = pd.DataFrame(np.NaN,columns=['col1','col2'], index=[0])

In [47]:
df

   col1  col2
0   NaN   NaN

In [23]:
empty_df = k[k['dst_port'] == 100]
empty_df

Empty DataFrame
Columns: [flow_key, src_ip_numeric, src_ip, src_port, dst_ip, dst_port, proto, pktTotalCount, octetTotalCount, min_ps, max_ps, avg_ps, std_dev_ps, flowStart, flowEnd, flowDuration, min_piat, max_piat, avg_piat, std_dev_piat, f_pktTotalCount, f_octetTotalCount, f_min_ps, f_max_ps, f_avg_ps, f_std_dev_ps, f_flowStart, f_flowEnd, f_flowDuration, f_min_piat, f_max_piat, f_avg_piat, f_std_dev_piat, b_pktTotalCount, b_octetTotalCount, b_min_ps, b_max_ps, b_avg_ps, b_std_dev_ps, b_flowStart, b_flowEnd, b_flowDuration, b_min_piat, b_max_piat, b_avg_piat, b_std_dev_piat, flowEndReason, category, application_protocol, web_service]
Index: []

[0 rows x 50 columns]

In [21]:
len(empty_df)

0

In [17]:
null_df = pd.DataFrame(np.NaN, columns=empty_df.columns, index=[0])
null_df.loc[0, 'flowStart'] = pd.to_datetime(datetime.now())
null_df

,flow_key,src_ip_numeric,src_ip,src_port,dst_ip,dst_port,proto,pktTotalCount,octetTotalCount,min_ps,...,b_flowEnd,b_flowDuration,b_min_piat,b_max_piat,b_avg_piat,b_std_dev_piat,flowEndReason,category,application_protocol,web_service
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
pd.to_datetime(datetime.now())

Timestamp('2020-09-23 12:52:03.854103')

In [19]:
null_df.resample('300S', on='flowStart').sum()

,flow_key,src_ip_numeric,src_ip,src_port,dst_ip,dst_port,proto,pktTotalCount,octetTotalCount,min_ps,...,b_flowEnd,b_flowDuration,b_min_piat,b_max_piat,b_avg_piat,b_std_dev_piat,flowEndReason,category,application_protocol,web_service
flowStart,,,,,,,,,,,,,,,,,,,,,
2020-09-23 12:50:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Tasks sheduler

In [4]:
import schedule
import time
import pandas as pd
from datetime import timedelta

In [5]:
def job():
    print("I'm working... " + str(pd.to_datetime('now') + timedelta(hours=3)))

In [6]:
job()

I'm working... 2020-09-23 15:24:13.387083

In [7]:
schedule.every(2).minutes.at(":30").do(job)


while True:
    schedule.run_pending()
    time.sleep(1)

I'm working... 2020-09-23 15:25:30.648375
I'm working... 2020-09-23 15:27:30.790435
I'm working... 2020-09-23 15:29:30.927499
I'm working... 2020-09-23 15:31:30.067335
I'm working... 2020-09-23 15:33:30.206688
I'm working... 2020-09-23 15:35:30.341549
I'm working... 2020-09-23 15:37:30.484029
I'm working... 2020-09-23 15:39:30.621381
I'm working... 2020-09-23 15:41:30.759183
I'm working... 2020-09-23 15:43:30.889229
I'm working... 2020-09-23 15:45:30.026952

KeyboardInterrupt:

# Dict sending

In [2]:
d = {'temp':1, 'co':2}

In [3]:
j = json.dumps(d)
j

'{"temp": 1, "co": 2}'

In [4]:
json.loads(j)

{'temp': 1, 'co': 2}

In [7]:
a = pd.DataFrame([d])
a

   temp  co
0     1   2

In [8]:
dict(zip(a.columns, a.iloc[0]))

{'temp': 1, 'co': 2}

## Make clust data dashboard

In [2]:
lag = np.array([1,2,3,4,5])
cur = np.array([11,12,13,14,15])

In [5]:
lag, cur

(array([1, 2, 3, 4, 5]), array([11, 12, 13, 14, 15]))

In [11]:
np.vstack([lag,  cur]).transpose(1,0)

array([[ 1, 11],
       [ 2, 12],
       [ 3, 13],
       [ 4, 14],
       [ 5, 15]])